page-sign-up {
    .transparent-header{
        background-image: linear-gradient(to bottom, #051937, #143864, #1e5b95, #1e80c9, #00a9ff);
      }
        .footer{
        
              position: absolute;
              bottom: 5%;
              width: 90%;
    
              margin-left: 0 auto;  
              text-align: center;   
        }
        ion-content {
          .main{
            margin-top: 15%;
          }
          
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-color: transparent;
          }
          .scroll-content {
            background-image: radial-gradient(center center, ellipse cover, #ffeda3, #ffc800);
            display: flex;
            flex-direction: column;
            overflow: hidden;
          }
          .logo {
            width: 25%;
            height: auto;
            max-width: 12em;
            margin: 0 auto;
            padding-bottom: 50px;
          }
          .no-border {
            border-bottom: 0 !important;
            box-shadow: none !important;
          }
          ion-row {
            align-items: center;
            text-align: center;
          }
          @media only screen and (min-width: 768px) {
            ion-col.col {
              margin: 0 auto;
              max-width: 40%;
            }
          }
          .signup span{
            color: #FFF;
          }
          span {
            color: rgb(255, 255, 255);
          }
          ion-item {
            // border-radius: 30px !important;
            padding-left: 10px !important;
            margin-bottom: 10px;
            background-color: #f6f6f6;
            // opacity: 0.7;
            font-size: 0.9em;
          }
          ion-list {
            margin: 0;
          }
          .login-button {
            width: 80%;
            // border-radius: 30px;
            font-size: 0.9em;
            // border: 1px solid #fff;
            background-color: #39acdc;
        }
}
